ckok-parent/ckok-model/src/main/resources/wsdl/Ckok.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions name="CkokServiceService"
	targetNamespace="http://ckok.nbt.net/service" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://ckok.nbt.net/service" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xsd:schema targetNamespace="http://ckok.nbt.net/service"
			xmlns:cns="http://ckok.nbt.net/model">

			<xsd:import schemaLocation="ckok.xsd" namespace="http://ckok.nbt.net/model" />

			<xsd:complexType name="orderBy">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="attributeName" type="xsd:string" />
					<xsd:element minOccurs="0" name="ascending" type="xsd:boolean" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="queryFilter"></xsd:complexType>

			<xsd:complexType name="stringFilter">
				<xsd:complexContent>
					<xsd:extension base="tns:queryFilter">
						<xsd:sequence>
							<xsd:element minOccurs="0" name="attributeName" type="xsd:string" />
							<xsd:element minOccurs="0" name="filterString" type="xsd:string" />
							<xsd:element minOccurs="0" name="ignoreCase" type="xsd:boolean" />
							<xsd:element minOccurs="0" name="onlyMatchPrefix" type="xsd:boolean" />
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>

			<xsd:complexType name="matchAnyFilter">
				<xsd:complexContent>
					<xsd:extension base="tns:queryFilter">
						<xsd:sequence>
							<xsd:element minOccurs="0"  maxOccurs="unbounded" name="filters" type="tns:queryFilter" />
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>

			<xsd:complexType name="matchAllFilter">
				<xsd:complexContent>
					<xsd:extension base="tns:queryFilter">
						<xsd:sequence>
							<xsd:element minOccurs="0"  maxOccurs="unbounded" name="filters" type="tns:queryFilter" />
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:element name="productsSearchCount" type="tns:productsSearchCount" />
			<xsd:complexType name="productsSearchCount">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="last" type="xsd:int" />
					<xsd:element minOccurs="0" name="operation" type="xsd:int" />
					<xsd:element minOccurs="0" name="searchString" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="productsSearchCountResponse" type="tns:productsSearchCountResponse" />
			<xsd:complexType name="productsSearchCountResponse">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="count" type="xsd:int" />
				</xsd:sequence>
			</xsd:complexType>
			<!-- ... -->
			<xsd:element name="productsSearch" type="tns:productsSearch" />
			<xsd:complexType name="productsSearch">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="startIndex" type="xsd:int" />
					<xsd:element minOccurs="0" name="count" type="xsd:int" />
					<xsd:element minOccurs="0" name="last" type="xsd:int" />
					<xsd:element minOccurs="0" name="operation" type="xsd:int" />
					<xsd:element minOccurs="0" name="searchString" type="xsd:string" />
					<xsd:element minOccurs="0" name="orderBy" type="tns:orderBy" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="productsSearchResponse" type="tns:productsSearchResponse" />
			<xsd:complexType name="productsSearchResponse">
				<xsd:sequence>
					<xsd:element minOccurs="0" maxOccurs="unbounded" name="return"
						type="cns:Product" />
				</xsd:sequence>
			</xsd:complexType>
			<!-- ... -->
			<xsd:element name="getProductDetailCount" type="tns:getProductDetailCount" />
			<xsd:complexType name="getProductDetailCount">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="last" type="xsd:int" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="getProductDetailCountResponse" type="tns:getProductDetailCountResponse" />
			<xsd:complexType name="getProductDetailCountResponse">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="count" type="xsd:int" />
				</xsd:sequence>
			</xsd:complexType>
			<!-- ... -->
			<xsd:element name="getProductDetail" type="tns:getProductDetail" />
			<xsd:complexType name="getProductDetail">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="startIndex" type="xsd:int" />
					<xsd:element minOccurs="0" name="count" type="xsd:int" />
					<xsd:element minOccurs="0" name="last" type="xsd:int" />
					<xsd:element minOccurs="0" name="orderBy" type="tns:orderBy" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="getProductDetailResponse" type="tns:getProductDetailResponse" />
			<xsd:complexType name="getProductDetailResponse">
				<xsd:sequence>
					<xsd:element minOccurs="0" maxOccurs="unbounded" name="return"
						type="cns:ProductDetail" />
				</xsd:sequence>
			</xsd:complexType>
			<!-- ... -->
			<xsd:element name="getProductById" type="tns:getProductById" />
			<xsd:complexType name="getProductById">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="productId" type="xsd:int" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="getProductByIdResponse" type="tns:getProductByIdResponse" />
			<xsd:complexType name="getProductByIdResponse">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="return" type="cns:Product" />
				</xsd:sequence>
			</xsd:complexType>
			<!-- ... -->
			<xsd:element name="updateProduct" type="tns:updateProduct" />
			<xsd:complexType name="updateProduct">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="product" type="cns:Product" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="updateProductResponse" type="tns:updateProductResponse" />
			<xsd:complexType name="updateProductResponse">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="customerId" type="xsd:int" />
				</xsd:sequence>
			</xsd:complexType>
			<!-- ... -->
			<xsd:element name="deleteProductById" type="tns:deleteProductById" />
			<xsd:complexType name="deleteProductById">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="productId" type="xsd:int" />
				</xsd:sequence>
			</xsd:complexType>
			<!-- ... -->
			<xsd:element name="NoSuchProduct" type="tns:NoSuchProduct" />
			<xsd:complexType name="NoSuchProduct">
				<xsd:sequence>
					<xsd:element name="productId" nillable="true" type="xsd:int" />
				</xsd:sequence>
			</xsd:complexType>
			<!-- ... -->
			<xsd:element name="customersQuickSearchCount" type="tns:customersQuickSearchCount" />
			<xsd:complexType name="customersQuickSearchCount">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="searchString" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="customersQuickSearchCountResponse" type="tns:customersQuickSearchCountResponse" />
			<xsd:complexType name="customersQuickSearchCountResponse">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="count" type="xsd:int" />
				</xsd:sequence>
			</xsd:complexType>
			<!-- ... -->
			<xsd:element name="customersQuickSearch" type="tns:customersQuickSearch" />
			<xsd:complexType name="customersQuickSearch">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="startIndex" type="xsd:int" />
					<xsd:element minOccurs="0" name="count" type="xsd:int" />
					<xsd:element minOccurs="0" name="searchString" type="xsd:string" />
					<xsd:element minOccurs="0" name="orderBy" type="tns:orderBy" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="customersQuickSearchResponse" type="tns:customersQuickSearchResponse" />
			<xsd:complexType name="customersQuickSearchResponse">
				<xsd:sequence>
					<xsd:element minOccurs="0" maxOccurs="unbounded" name="return"
						type="cns:Customer" />
				</xsd:sequence>
			</xsd:complexType>
			<!-- ... -->
			<xsd:element name="operationsSearchCount" type="tns:operationsSearchCount" />
			<xsd:complexType name="operationsSearchCount">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="optype" type="xsd:int" />
					<xsd:element minOccurs="0" name="product" type="xsd:int" />
					<xsd:element minOccurs="0" name="customer" type="xsd:int" />
					<xsd:element minOccurs="0" name="searchString" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="operationsSearchCountResponse" type="tns:operationsSearchCountResponse" />
			<xsd:complexType name="operationsSearchCountResponse">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="count" type="xsd:int" />
				</xsd:sequence>
			</xsd:complexType>
			<!-- ... -->
			<xsd:element name="operationsSearch" type="tns:operationsSearch" />
			<xsd:complexType name="operationsSearch">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="startIndex" type="xsd:int" />
					<xsd:element minOccurs="0" name="count" type="xsd:int" />
					<xsd:element minOccurs="0" name="optype" type="xsd:int" />
					<xsd:element minOccurs="0" name="product" type="xsd:int" />
					<xsd:element minOccurs="0" name="customer" type="xsd:int" />
					<xsd:element minOccurs="0" name="searchString" type="xsd:string" />
					<xsd:element minOccurs="0" name="orderBy" type="tns:orderBy" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="operationsSearchResponse" type="tns:operationsSearchResponse" />
			<xsd:complexType name="operationsSearchResponse">
				<xsd:sequence>
					<xsd:element minOccurs="0" maxOccurs="unbounded" name="return"
						type="cns:Operation" />
				</xsd:sequence>
			</xsd:complexType>
			<!-- ... -->
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="operationsSearch">
		<wsdl:part name="parameters" element="tns:operationsSearch" />
	</wsdl:message>
	<wsdl:message name="operationsSearchResponse">
		<wsdl:part name="parameters" element="tns:operationsSearchResponse" />
	</wsdl:message>

	<wsdl:message name="operationsSearchCount">
		<wsdl:part name="parameters" element="tns:operationsSearchCount" />
	</wsdl:message>
	<wsdl:message name="operationsSearchCountResponse">
		<wsdl:part name="parameters" element="tns:operationsSearchCountResponse" />
	</wsdl:message>

	<wsdl:message name="customersQuickSearch">
		<wsdl:part name="parameters" element="tns:customersQuickSearch" />
	</wsdl:message>
	<wsdl:message name="customersQuickSearchResponse">
		<wsdl:part name="parameters" element="tns:customersQuickSearchResponse" />
	</wsdl:message>

	<wsdl:message name="customersQuickSearchCount">
		<wsdl:part name="parameters" element="tns:customersQuickSearchCount" />
	</wsdl:message>
	<wsdl:message name="customersQuickSearchCountResponse">
		<wsdl:part name="parameters" element="tns:customersQuickSearchCountResponse" />
	</wsdl:message>

	<wsdl:message name="productsSearchCount">
		<wsdl:part name="parameters" element="tns:productsSearchCount" />
	</wsdl:message>
	<wsdl:message name="productsSearchCountResponse">
		<wsdl:part name="parameters" element="tns:productsSearchCountResponse" />
	</wsdl:message>

	<wsdl:message name="productsSearch">
		<wsdl:part name="parameters" element="tns:productsSearch" />
	</wsdl:message>
	<wsdl:message name="productsSearchResponse">
		<wsdl:part name="parameters" element="tns:productsSearchResponse" />
	</wsdl:message>

	<wsdl:message name="getProductDetailCount">
		<wsdl:part name="parameters" element="tns:getProductDetailCount" />
	</wsdl:message>
	<wsdl:message name="getProductDetailCountResponse">
		<wsdl:part name="parameters" element="tns:getProductDetailCountResponse" />
	</wsdl:message>

	<wsdl:message name="getProductDetail">
		<wsdl:part name="parameters" element="tns:getProductDetail" />
	</wsdl:message>
	<wsdl:message name="getProductDetailResponse">
		<wsdl:part name="parameters" element="tns:getProductDetailResponse" />
	</wsdl:message>

	<wsdl:message name="getProductById">
		<wsdl:part name="parameters" element="tns:getProductById" />
	</wsdl:message>
	<wsdl:message name="getProductByIdResponse">
		<wsdl:part name="parameters" element="tns:getProductByIdResponse" />
	</wsdl:message>
	<wsdl:message name="updateProduct">
		<wsdl:part name="parameters" element="tns:updateProduct" />
	</wsdl:message>
	<wsdl:message name="updateProductResponse">
		<wsdl:part name="parameters" element="tns:updateProductResponse" />
	</wsdl:message>
	<wsdl:message name="deleteProductById">
		<wsdl:part name="parameters" element="tns:deleteProductById" />
	</wsdl:message>
	<wsdl:message name="NoSuchProductException">
		<wsdl:part name="NoSuchProductException" element="tns:NoSuchProduct" />
	</wsdl:message>

	<wsdl:portType name="CkokService">
		<wsdl:operation name="updateProduct">
			<wsdl:input name="updateProduct" message="tns:updateProduct" />
			<wsdl:output name="updateProductResponse" message="tns:updateProductResponse" />
		</wsdl:operation>
		<wsdl:operation name="deleteProductById">
			<wsdl:input name="deleteProductById" message="tns:deleteProductById" />
			<!-- <wsdl:fault name="NoSuchProductException" message="tns:NoSuchProductException"/> -->
		</wsdl:operation>
		<wsdl:operation name="getProductById">
			<wsdl:input name="getProductById" message="tns:getProductById" />
			<wsdl:output name="getProductByIdResponse" message="tns:getProductByIdResponse" />
			<wsdl:fault name="NoSuchProductException" message="tns:NoSuchProductException" />
		</wsdl:operation>
		<wsdl:operation name="productsSearchCount">
			<wsdl:input name="productsSearchCount" message="tns:productsSearchCount" />
			<wsdl:output name="productsSearchCountResponse" message="tns:productsSearchCountResponse" />
		</wsdl:operation>
		<wsdl:operation name="productsSearch">
			<wsdl:input name="productsSearch" message="tns:productsSearch" />
			<wsdl:output name="productsSearchResponse" message="tns:productsSearchResponse" />
		</wsdl:operation>
		<!-- ... -->
		<wsdl:operation name="getProductDetailCount">
			<wsdl:input name="getProductDetailCount" message="tns:getProductDetailCount" />
			<wsdl:output name="getProductDetailCountResponse" message="tns:getProductDetailCountResponse" />
		</wsdl:operation>
		<wsdl:operation name="getProductDetail">
			<wsdl:input name="getProductDetail" message="tns:getProductDetail" />
			<wsdl:output name="getProductDetailResponse" message="tns:getProductDetailResponse" />
		</wsdl:operation>
		<!-- ... -->
		<wsdl:operation name="customersQuickSearchCount">
			<wsdl:input name="customersQuickSearchCount" message="tns:customersQuickSearchCount" />
			<wsdl:output name="customersQuickSearchCountResponse" message="tns:customersQuickSearchCountResponse" />
		</wsdl:operation>
		<wsdl:operation name="customersQuickSearch">
			<wsdl:input name="customersQuickSearch" message="tns:customersQuickSearch" />
			<wsdl:output name="customersQuickSearchResponse" message="tns:customersQuickSearchResponse" />
		</wsdl:operation>
		<wsdl:operation name="operationsSearchCount">
			<wsdl:input name="operationsSearchCount" message="tns:operationsSearchCount" />
			<wsdl:output name="operationsSearchCountResponse" message="tns:operationsSearchCountResponse" />
		</wsdl:operation>
		<wsdl:operation name="operationsSearch">
			<wsdl:input name="operationsSearch" message="tns:operationsSearch" />
			<wsdl:output name="operationsSearchResponse" message="tns:operationsSearchResponse" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="CkokServiceServiceSoapBinding" type="tns:CkokService">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />

		<wsdl:operation name="updateProduct">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="updateProduct">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="updateProductResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="deleteProductById">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="deleteProductById">
				<soap:body use="literal" />
			</wsdl:input>
			<!-- <wsdl:fault name="NoSuchProductException"> <soap:fault name="NoSuchProductException" 
				use="literal" /> </wsdl:fault> -->
		</wsdl:operation>
		<wsdl:operation name="getProductById">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="getProductById">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getProductByIdResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="NoSuchProductException">
				<soap:fault name="NoSuchProductException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="productsSearchCount">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="productsSearchCount">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="productsSearchCountResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="productsSearch">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="productsSearch">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="productsSearchResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="getProductDetailCount">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="getProductDetailCount">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getProductDetailCountResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="getProductDetail">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="getProductDetail">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getProductDetailResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>


		<wsdl:operation name="customersQuickSearchCount">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="customersQuickSearchCount">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="customersQuickSearchCountResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="customersQuickSearch">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="customersQuickSearch">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="customersQuickSearchResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="operationsSearchCount">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="operationsSearchCount">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="operationsSearchCountResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="operationsSearch">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="operationsSearch">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="operationsSearchResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

	</wsdl:binding>

	<wsdl:service name="CkokServiceService">
		<wsdl:port binding="tns:CkokServiceServiceSoapBinding" name="CkokServicePort">
			<soap:address location="http://localhost:8181/cxf/CkokServicePort" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
