ckok-parent/ckok-model/src/main/resources/wsdl/Ckok.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions name="CkokServiceService"
	targetNamespace="http://ckok.nbt.net/service" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://ckok.nbt.net/service" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xsd:schema targetNamespace="http://ckok.nbt.net/service"
			xmlns:cns="http://ckok.nbt.net/model">

			<xsd:import schemaLocation="ckok.xsd" namespace="http://ckok.nbt.net/model" />

			<xsd:complexType name="orderBy">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="attributeName" type="xsd:string" />
					<xsd:element minOccurs="0" name="ascending" type="xsd:boolean" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="queryFilter"></xsd:complexType>

			<xsd:complexType name="stringFilter">
				<xsd:complexContent>
					<xsd:extension base="tns:queryFilter">
						<xsd:sequence>
							<xsd:element minOccurs="0" name="attributeName" type="xsd:string" />
							<xsd:element minOccurs="0" name="filterString" type="xsd:string" />
							<xsd:element minOccurs="0" name="ignoreCase" type="xsd:boolean" />
							<xsd:element minOccurs="0" name="onlyMatchPrefix" type="xsd:boolean" />
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>

			<xsd:complexType name="matchAnyFilter">
				<xsd:complexContent>
					<xsd:extension base="tns:queryFilter">
						<xsd:sequence>
							<xsd:element minOccurs="0"  maxOccurs="unbounded" name="filters" type="tns:queryFilter" />
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>

			<xsd:complexType name="matchAllFilter">
				<xsd:complexContent>
					<xsd:extension base="tns:queryFilter">
						<xsd:sequence>
							<xsd:element minOccurs="0"  maxOccurs="unbounded" name="filters" type="tns:queryFilter" />
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
			<!-- ... -->
			<xsd:element name="getProductOperations" type="tns:getProductOperations" />
			<xsd:complexType name="getProductOperations">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="productId" type="xsd:int" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="getProductOperationsResponse" type="tns:getProductOperationsResponse" />
			<xsd:complexType name="getProductOperationsResponse">
				<xsd:sequence>
					<xsd:element minOccurs="0" maxOccurs="unbounded" name="return" type="cns:Operation" />
				</xsd:sequence>
			</xsd:complexType>
			<!-- ... -->
			<xsd:element name="productsQuickSearchCount" type="tns:productsQuickSearchCount" />
			<xsd:complexType name="productsQuickSearchCount">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="last" type="xsd:int" />
					<xsd:element minOccurs="0" name="searchString" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="productsQuickSearchCountResponse" type="tns:productsQuickSearchCountResponse" />
			<xsd:complexType name="productsQuickSearchCountResponse">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="count" type="xsd:int" />
				</xsd:sequence>
			</xsd:complexType>
			<!-- ... -->
			<xsd:element name="productsQuickSearch" type="tns:productsQuickSearch" />
			<xsd:complexType name="productsQuickSearch">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="startIndex" type="xsd:int" />
					<xsd:element minOccurs="0" name="count" type="xsd:int" />
					<xsd:element minOccurs="0" name="last" type="xsd:int" />
					<xsd:element minOccurs="0" name="searchString" type="xsd:string" />
					<xsd:element minOccurs="0" name="orderBy" type="tns:orderBy" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="productsQuickSearchResponse" type="tns:productsQuickSearchResponse" />
			<xsd:complexType name="productsQuickSearchResponse">
				<xsd:sequence>
					<xsd:element minOccurs="0" maxOccurs="unbounded" name="return"
						type="cns:Product" />
				</xsd:sequence>
			</xsd:complexType>
			<!-- ... -->
			<xsd:element name="getProductById" type="tns:getProductById" />
			<xsd:complexType name="getProductById">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="productId" type="xsd:int" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="getProductByIdResponse" type="tns:getProductByIdResponse" />
			<xsd:complexType name="getProductByIdResponse">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="return" type="cns:Product" />
				</xsd:sequence>
			</xsd:complexType>
			<!-- ... -->
			<xsd:element name="getAllProducts" type="tns:getAllProducts" />
			<xsd:complexType name="getAllProducts">
				<xsd:sequence>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="getAllProductsResponse" type="tns:getAllProductsResponse" />
			<xsd:complexType name="getAllProductsResponse">
				<xsd:sequence>
					<xsd:element minOccurs="0" maxOccurs="unbounded" name="return"
						type="cns:Product" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="updateProduct" type="tns:updateProduct" />
			<xsd:complexType name="updateProduct">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="product" type="cns:Product" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="updateProductResponse" type="tns:updateProductResponse" />
			<xsd:complexType name="updateProductResponse">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="customerId" type="xsd:int" />
				</xsd:sequence>
			</xsd:complexType>
			<!-- ... -->
			<xsd:element name="deleteProductById" type="tns:deleteProductById" />
			<xsd:complexType name="deleteProductById">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="productId" type="xsd:int" />
				</xsd:sequence>
			</xsd:complexType>
			<!-- ... -->
			<xsd:element name="NoSuchProduct" type="tns:NoSuchProduct" />
			<xsd:complexType name="NoSuchProduct">
				<xsd:sequence>
					<xsd:element name="productId" nillable="true" type="xsd:int" />
				</xsd:sequence>
			</xsd:complexType>
			<!-- ... -->
			<xsd:element name="getProducts" type="tns:getProducts" />
			<xsd:complexType name="getProducts">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="startIndex" type="xsd:int" />
					<xsd:element minOccurs="0" name="count" type="xsd:int" />
					<xsd:element minOccurs="0" name="filter" type="tns:queryFilter" />
					<xsd:element minOccurs="0" maxOccurs="unbounded" name="sort" type="tns:orderBy" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="getProductsResponse" type="tns:getProductsResponse" />
			<xsd:complexType name="getProductsResponse">
				<xsd:sequence>
					<xsd:element minOccurs="0" maxOccurs="unbounded" name="return"
						type="cns:Product" />
				</xsd:sequence>
			</xsd:complexType>
			<!-- ... -->
			<xsd:element name="customersQuickSearchCount" type="tns:customersQuickSearchCount" />
			<xsd:complexType name="customersQuickSearchCount">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="searchString" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="customersQuickSearchCountResponse" type="tns:customersQuickSearchCountResponse" />
			<xsd:complexType name="customersQuickSearchCountResponse">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="count" type="xsd:int" />
				</xsd:sequence>
			</xsd:complexType>
			<!-- ... -->
			<xsd:element name="customersQuickSearch" type="tns:customersQuickSearch" />
			<xsd:complexType name="customersQuickSearch">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="startIndex" type="xsd:int" />
					<xsd:element minOccurs="0" name="count" type="xsd:int" />
					<xsd:element minOccurs="0" name="searchString" type="xsd:string" />
					<xsd:element minOccurs="0" name="orderBy" type="tns:orderBy" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="customersQuickSearchResponse" type="tns:customersQuickSearchResponse" />
			<xsd:complexType name="customersQuickSearchResponse">
				<xsd:sequence>
					<xsd:element minOccurs="0" maxOccurs="unbounded" name="return"
						type="cns:Customer" />
				</xsd:sequence>
			</xsd:complexType>
			<!-- ... -->
			<xsd:element name="getCustomerOperations" type="tns:getCustomerOperations" />
			<xsd:complexType name="getCustomerOperations">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="customerId" type="xsd:int" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="getCustomerOperationsResponse" type="tns:getCustomerOperationsResponse" />
			<xsd:complexType name="getCustomerOperationsResponse">
				<xsd:sequence>
					<xsd:element minOccurs="0" maxOccurs="unbounded" name="return" type="cns:Operation" />
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="customersQuickSearch">
		<wsdl:part name="parameters" element="tns:customersQuickSearch" />
	</wsdl:message>
	<wsdl:message name="customersQuickSearchResponse">
		<wsdl:part name="parameters" element="tns:customersQuickSearchResponse" />
	</wsdl:message>

	<wsdl:message name="customersQuickSearchCount">
		<wsdl:part name="parameters" element="tns:customersQuickSearchCount" />
	</wsdl:message>
	<wsdl:message name="customersQuickSearchCountResponse">
		<wsdl:part name="parameters" element="tns:customersQuickSearchCountResponse" />
	</wsdl:message>

	<wsdl:message name="getCustomerOperations">
		<wsdl:part name="parameters" element="tns:getCustomerOperations" />
	</wsdl:message>
	<wsdl:message name="getCustomerOperationsResponse">
		<wsdl:part name="parameters" element="tns:getCustomerOperationsResponse" />
	</wsdl:message>


	<!-- ... -->
	<wsdl:message name="getProductOperations">
		<wsdl:part name="parameters" element="tns:getProductOperations" />
	</wsdl:message>
	<wsdl:message name="getProductOperationsResponse">
		<wsdl:part name="parameters" element="tns:getProductOperationsResponse" />
	</wsdl:message>

	<wsdl:message name="productsQuickSearchCount">
		<wsdl:part name="parameters" element="tns:productsQuickSearchCount" />
	</wsdl:message>
	<wsdl:message name="productsQuickSearchCountResponse">
		<wsdl:part name="parameters" element="tns:productsQuickSearchCountResponse" />
	</wsdl:message>

	<wsdl:message name="productsQuickSearch">
		<wsdl:part name="parameters" element="tns:productsQuickSearch" />
	</wsdl:message>
	<wsdl:message name="productsQuickSearchResponse">
		<wsdl:part name="parameters" element="tns:productsQuickSearchResponse" />
	</wsdl:message>

	<wsdl:message name="getProducts">
		<wsdl:part name="parameters" element="tns:getProducts" />
	</wsdl:message>
	<wsdl:message name="getProductsResponse">
		<wsdl:part name="parameters" element="tns:getProductsResponse" />
	</wsdl:message>
	<wsdl:message name="getProductById">
		<wsdl:part name="parameters" element="tns:getProductById" />
	</wsdl:message>
	<wsdl:message name="getProductByIdResponse">
		<wsdl:part name="parameters" element="tns:getProductByIdResponse" />
	</wsdl:message>
	<wsdl:message name="getAllProducts">
		<wsdl:part name="parameters" element="tns:getAllProducts" />
	</wsdl:message>
	<wsdl:message name="getAllProductsResponse">
		<wsdl:part name="parameters" element="tns:getAllProductsResponse" />
	</wsdl:message>
	<wsdl:message name="updateProduct">
		<wsdl:part name="parameters" element="tns:updateProduct" />
	</wsdl:message>
	<wsdl:message name="updateProductResponse">
		<wsdl:part name="parameters" element="tns:updateProductResponse" />
	</wsdl:message>
	<wsdl:message name="deleteProductById">
		<wsdl:part name="parameters" element="tns:deleteProductById" />
	</wsdl:message>
	<wsdl:message name="NoSuchProductException">
		<wsdl:part name="NoSuchProductException" element="tns:NoSuchProduct" />
	</wsdl:message>

	<wsdl:portType name="CkokService">
		<wsdl:operation name="updateProduct">
			<wsdl:input name="updateProduct" message="tns:updateProduct" />
			<wsdl:output name="updateProductResponse" message="tns:updateProductResponse" />
		</wsdl:operation>
		<wsdl:operation name="deleteProductById">
			<wsdl:input name="deleteProductById" message="tns:deleteProductById" />
			<!-- <wsdl:fault name="NoSuchProductException" message="tns:NoSuchProductException"/> -->
		</wsdl:operation>
		<wsdl:operation name="getProductById">
			<wsdl:input name="getProductById" message="tns:getProductById" />
			<wsdl:output name="getProductByIdResponse" message="tns:getProductByIdResponse" />
			<wsdl:fault name="NoSuchProductException" message="tns:NoSuchProductException" />
		</wsdl:operation>
		<wsdl:operation name="getAllProducts">
			<wsdl:input name="getAllProducts" message="tns:getAllProducts" />
			<wsdl:output name="getAllProductsResponse" message="tns:getAllProductsResponse" />
		</wsdl:operation>
		<wsdl:operation name="productsQuickSearchCount">
			<wsdl:input name="productsQuickSearchCount" message="tns:productsQuickSearchCount" />
			<wsdl:output name="productsQuickSearchCountResponse" message="tns:productsQuickSearchCountResponse" />
		</wsdl:operation>
		<wsdl:operation name="productsQuickSearch">
			<wsdl:input name="productsQuickSearch" message="tns:productsQuickSearch" />
			<wsdl:output name="productsQuickSearchResponse" message="tns:productsQuickSearchResponse" />
		</wsdl:operation>
		<wsdl:operation name="getProducts">
			<wsdl:input name="getProducts" message="tns:getProducts" />
			<wsdl:output name="getProductsResponse" message="tns:getProductsResponse" />
		</wsdl:operation>
		<wsdl:operation name="getProductOperations">
			<wsdl:input name="getProductOperations" message="tns:getProductOperations" />
			<wsdl:output name="getProductOperationsResponse" message="tns:getProductOperationsResponse" />
		</wsdl:operation>
		<wsdl:operation name="getCustomerOperations">
			<wsdl:input name="getCustomerOperations" message="tns:getCustomerOperations" />
			<wsdl:output name="getCustomerOperationsResponse" message="tns:getCustomerOperationsResponse" />
		</wsdl:operation>
		<wsdl:operation name="customersQuickSearchCount">
			<wsdl:input name="customersQuickSearchCount" message="tns:customersQuickSearchCount" />
			<wsdl:output name="customersQuickSearchCountResponse" message="tns:customersQuickSearchCountResponse" />
		</wsdl:operation>
		<wsdl:operation name="customersQuickSearch">
			<wsdl:input name="customersQuickSearch" message="tns:customersQuickSearch" />
			<wsdl:output name="customersQuickSearchResponse" message="tns:customersQuickSearchResponse" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="CkokServiceServiceSoapBinding" type="tns:CkokService">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />

		<wsdl:operation name="updateProduct">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="updateProduct">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="updateProductResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="deleteProductById">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="deleteProductById">
				<soap:body use="literal" />
			</wsdl:input>
			<!-- <wsdl:fault name="NoSuchProductException"> <soap:fault name="NoSuchProductException" 
				use="literal" /> </wsdl:fault> -->
		</wsdl:operation>
		<wsdl:operation name="getProductById">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="getProductById">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getProductByIdResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="NoSuchProductException">
				<soap:fault name="NoSuchProductException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="getAllProducts">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="getAllProducts">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getAllProductsResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="productsQuickSearchCount">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="productsQuickSearchCount">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="productsQuickSearchCountResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="productsQuickSearch">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="productsQuickSearch">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="productsQuickSearchResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="getProducts">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="getProducts">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getProductsResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="getProductOperations">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="getProductOperations">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getProductOperationsResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="getCustomerOperations">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="getCustomerOperations">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getCustomerOperationsResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="customersQuickSearchCount">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="customersQuickSearchCount">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="customersQuickSearchCountResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="customersQuickSearch">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="customersQuickSearch">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="customersQuickSearchResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

	</wsdl:binding>

	<wsdl:service name="CkokServiceService">
		<wsdl:port binding="tns:CkokServiceServiceSoapBinding" name="CkokServicePort">
			<soap:address location="http://localhost:8181/cxf/CkokServicePort" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
