ckok-parent/ckok-model/src/main/resources/wsdl/Ckok.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions name="CkokServiceService"
	targetNamespace="http://ckok.nbt.net/service" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://ckok.nbt.net/service" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xsd:schema targetNamespace="http://ckok.nbt.net/service"
			xmlns:cns="http://ckok.nbt.net/model">

			<xsd:import schemaLocation="ckok.xsd" namespace="http://ckok.nbt.net/model" />

			<xsd:complexType name="orderBy">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="attributeName" type="xsd:string" />
					<xsd:element minOccurs="0" name="ascending" type="xsd:boolean" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="queryFilter"></xsd:complexType>
			<xsd:complexType name="queryFilters">
				<xsd:sequence>
					<xsd:element minOccurs="0" maxOccurs="unbounded" name="matchAny" type="tns:queryFilter" />
					<xsd:element minOccurs="0" maxOccurs="unbounded" name="matchAll" type="tns:queryFilter" />					
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="stringFilter">
				<xsd:complexContent>
					<xsd:extension base="tns:queryFilter">
						<xsd:sequence>
							<xsd:element minOccurs="0" name="attributeName" type="xsd:string" />
							<xsd:element minOccurs="0" name="filterString" type="xsd:string" />
							<xsd:element minOccurs="0" name="ignoreCase" type="xsd:boolean" />
							<xsd:element minOccurs="0" name="onlyMatchPrefix" type="xsd:boolean" />
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>

			<xsd:element name="getProductsCount" type="tns:getProductsCount" />
			<xsd:complexType name="getProductsCount">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="filters" type="tns:queryFilters" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="getProductsCountResponse" type="tns:getProductsCountResponse" />
			<xsd:complexType name="getProductsCountResponse">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="count" type="xsd:int" />
				</xsd:sequence>
			</xsd:complexType>
			<!-- ... -->
			<xsd:element name="getProductById" type="tns:getProductById" />
			<xsd:complexType name="getProductById">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="productId" type="xsd:int" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="getProductByIdResponse" type="tns:getProductByIdResponse" />
			<xsd:complexType name="getProductByIdResponse">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="return" type="cns:Product" />
				</xsd:sequence>
			</xsd:complexType>
			<!-- ... -->
			<xsd:element name="getAllProducts" type="tns:getAllProducts" />
			<xsd:complexType name="getAllProducts">
				<xsd:sequence>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="getAllProductsResponse" type="tns:getAllProductsResponse" />
			<xsd:complexType name="getAllProductsResponse">
				<xsd:sequence>
					<xsd:element minOccurs="0" maxOccurs="unbounded" name="return"
						type="cns:Product" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="updateProduct" type="tns:updateProduct" />
			<xsd:complexType name="updateProduct">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="product" type="cns:Product" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="updateProductResponse" type="tns:updateProductResponse" />
			<xsd:complexType name="updateProductResponse">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="customerId" type="xsd:int" />
				</xsd:sequence>
			</xsd:complexType>
			<!-- ... -->
			<xsd:element name="deleteProductById" type="tns:deleteProductById" />
			<xsd:complexType name="deleteProductById">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="productId" type="xsd:int" />
				</xsd:sequence>
			</xsd:complexType>
			<!-- ... -->
			<xsd:element name="NoSuchProduct" type="tns:NoSuchProduct" />
			<xsd:complexType name="NoSuchProduct">
				<xsd:sequence>
					<xsd:element name="productId" nillable="true" type="xsd:int" />
				</xsd:sequence>
			</xsd:complexType>
			<!-- ... -->
			<xsd:element name="getProducts" type="tns:getProducts" />
			<xsd:complexType name="getProducts">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="startIndex" type="xsd:int" />
					<xsd:element minOccurs="0" name="count" type="xsd:int" />
					<xsd:element minOccurs="0" name="filters" type="tns:queryFilters" />
					<xsd:element minOccurs="0" maxOccurs="unbounded" name="sort"
						type="tns:orderBy" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="getProductsResponse" type="tns:getProductsResponse" />
			<xsd:complexType name="getProductsResponse">
				<xsd:sequence>
					<xsd:element minOccurs="0" maxOccurs="unbounded" name="return"
						type="cns:Product" />
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="getProductsCount">
		<wsdl:part name="parameters" element="tns:getProductsCount" />
	</wsdl:message>
	<wsdl:message name="getProductsCountResponse">
		<wsdl:part name="parameters" element="tns:getProductsCountResponse" />
	</wsdl:message>
	<wsdl:message name="getProducts">
		<wsdl:part name="parameters" element="tns:getProducts" />
	</wsdl:message>
	<wsdl:message name="getProductsResponse">
		<wsdl:part name="parameters" element="tns:getProductsResponse" />
	</wsdl:message>
	<wsdl:message name="getProductById">
		<wsdl:part name="parameters" element="tns:getProductById" />
	</wsdl:message>
	<wsdl:message name="getProductByIdResponse">
		<wsdl:part name="parameters" element="tns:getProductByIdResponse" />
	</wsdl:message>
	<wsdl:message name="getAllProducts">
		<wsdl:part name="parameters" element="tns:getAllProducts" />
	</wsdl:message>
	<wsdl:message name="getAllProductsResponse">
		<wsdl:part name="parameters" element="tns:getAllProductsResponse" />
	</wsdl:message>
	<wsdl:message name="updateProduct">
		<wsdl:part name="parameters" element="tns:updateProduct" />
	</wsdl:message>
	<wsdl:message name="updateProductResponse">
		<wsdl:part name="parameters" element="tns:updateProductResponse" />
	</wsdl:message>
	<wsdl:message name="deleteProductById">
		<wsdl:part name="parameters" element="tns:deleteProductById" />
	</wsdl:message>
	<wsdl:message name="NoSuchProductException">
		<wsdl:part name="NoSuchProductException" element="tns:NoSuchProduct" />
	</wsdl:message>

	<wsdl:portType name="CkokService">
		<wsdl:operation name="updateProduct">
			<wsdl:input name="updateProduct" message="tns:updateProduct" />
			<wsdl:output name="updateProductResponse" message="tns:updateProductResponse" />
		</wsdl:operation>
		<wsdl:operation name="deleteProductById">
			<wsdl:input name="deleteProductById" message="tns:deleteProductById" />
			<!-- <wsdl:fault name="NoSuchProductException" message="tns:NoSuchProductException"/> -->
		</wsdl:operation>
		<wsdl:operation name="getProductById">
			<wsdl:input name="getProductById" message="tns:getProductById" />
			<wsdl:output name="getProductByIdResponse" message="tns:getProductByIdResponse" />
			<wsdl:fault name="NoSuchProductException" message="tns:NoSuchProductException" />
		</wsdl:operation>
		<wsdl:operation name="getAllProducts">
			<wsdl:input name="getAllProducts" message="tns:getAllProducts" />
			<wsdl:output name="getAllProductsResponse" message="tns:getAllProductsResponse" />
		</wsdl:operation>
		<wsdl:operation name="getProductsCount">
			<wsdl:input name="getProductsCount" message="tns:getProductsCount" />
			<wsdl:output name="getProductsCountResponse" message="tns:getProductsCountResponse" />
		</wsdl:operation>
		<wsdl:operation name="getProducts">
			<wsdl:input name="getProducts" message="tns:getProducts" />
			<wsdl:output name="getProductsResponse" message="tns:getProductsResponse" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="CkokServiceServiceSoapBinding" type="tns:CkokService">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />

		<wsdl:operation name="updateProduct">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="updateProduct">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="updateProductResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="deleteProductById">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="deleteProductById">
				<soap:body use="literal" />
			</wsdl:input>
			<!-- <wsdl:fault name="NoSuchProductException"> <soap:fault name="NoSuchProductException" 
				use="literal" /> </wsdl:fault> -->
		</wsdl:operation>
		<wsdl:operation name="getProductById">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="getProductById">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getProductByIdResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="NoSuchProductException">
				<soap:fault name="NoSuchProductException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="getAllProducts">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="getAllProducts">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getAllProductsResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="getProductsCount">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="getProductsCount">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getProductsCountResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getProducts">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="getProducts">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getProductsResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

	</wsdl:binding>

	<wsdl:service name="CkokServiceService">
		<wsdl:port binding="tns:CkokServiceServiceSoapBinding" name="CkokServicePort">
			<soap:address location="http://localhost:8181/cxf/CkokServicePort" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
